.root {
    -fx-base: #181818;
    -fx-accent: silver;
    -fx-focus-color: silver;
}

.customBackground {
    -fx-control-inner-background: white;
}

.label {
    -fx-border-width: 2px;
    -fx-font-weight: bold;
    -fx-padding: 2;
}

.text-field {
    -fx-alignment: center;
}

.button {
    -fx-border-radius: 3px;
    -fx-base: #585858;
    -fx-border-color: grey;
}

.menu-bar {
    -fx-font-family: Helvetica;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-style: solid;
    -fx-border-color: silver;
    -fx-color: #585858;
}

.customTitleLabel {
    -fx-border-style: solid;
    -fx-border-width: 5px;
    -fx-font-weight: bold;
    -fx-padding: 3;
}

.image-box {
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.color-picker, .color-button, .icon-button {
    -fx-min-width: 30px;
    -fx-min-height: 30px;
}

.text-area:invalid, .text-field:invalid, .radio-button:invalid, .scroll-pane:invalid, .image-box:invalid {
    -fx-border-color: red;
}